 <!-- About Section -->
    <section class="success" id="download">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Download</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Now that you know all about how online tracking works, you'll want to start blocking trackers with PrivacyTracker. All you need is the Chrome web browser.</p>
                </div>
                <div class="col-lg-4">
                    <p>After you download PrivacyTracker, follow the instructions below to get started. After that, you'll be able to find out who's been stalking you on the web.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/fishdev/PrivacyTracker/releases/download/0.5.1/PrivacyTracker.v0.5.1.crx" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CRX File
                    </a>
                </div>
            </div>
        </div>
    </section>
