 <!-- About Section -->
    <section id="installation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Installation</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>PrivacyTracker works on Windows, Mac, and Linux. As long as you have <a href="http://chrome.google.com">Google Chrome</a> installed, you can use it. Here's how to get started:</p>

										<ol>
										<li>Open Google Chrome</li>
										<li>Download the <a href="https://github.com/fishdev/PrivacyTracker/releases/download/v0.3/PrivacyTracker.v0.3.crx">PrivacyTracker CRX file</a>
										</li>
										<li>Go to chrome://extensions</li>
										<li>Drag the PrivacyTracker CRX file from the downloads bar at the bottom of the window into the center of the page</li>
										<li>Accept permissions for PrivacyTracker</li>
										<li>Done. Now you can protect your data with PrivacyTracker!</li>
										</ol>
                </div>
            </div>
        </div>
    </section>
