 <!-- About Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How It Works</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Whenever you visit a website, there are a bunch of companies you've never heard of that collect information about you. They build complex, hidden profiles about you and use the data to show you ads based on your interests and sell your data to advertisers. This is really creepy, and most people don't like it.</p>
                    <p>PrivacyTracker lets you quickly and easily prevent companies from collecting your personal information. It explains who's tracking you, when they've tracked you before, and what they know about you. If you don't want them to collect your data, you can simply hit a button and PrivacyTracker will block them completely. This way, you can keep your personal information that's floating across the Internet safe and secure.</p>
                </div>
            </div>
        </div>
    </section>
