@font-face {
  font-family: "Interface";
  src: url(../fonts/Roboto.ttf);
}

@font-face {
  font-family: "Title";
  src: url(../fonts/DroidSans.ttf);
}

@font-face {
  font-family: "Content";
  src: url(../fonts/Gudea.ttf);
}

html {
  width: 400px;
  height: 600px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
	background-color: ghostwhite;
	width: 400px;
	height: 600px;
	margin: 0px;
	padding: 0px;
  font-family: "Interface";
  overflow: hidden;
  cursor: default;
}

.title {
	font-family: "Title";
	font-size: 24pt;
}

.icon {
	width: 5em;
}

.spacer {
  font-family: 1pt;
  height: 0.5em;  
}

#header {
	background: url('../images/header-background.png');
	background-size: 400px 74px;
	font-family: "Title";
	color: black;
	height: 5.2em;
	padding: 0.5em;
}

.tab {
	border-bottom: none;
	color: black;
	height: 1em;
	font-family: "Interface";
	font-size: 11pt;
	padding: 0.33em;
	float: left;
}

.tab:hover {
  cursor: pointer;
}

.tab:active {
  background-color: ghostwhite;
  border: 1px solid ghostwhite;
  border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	border-bottom: none;
}

.tab-active {
	background-color: ghostwhite;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	border: 1px solid ghostwhite;
	border-bottom: none;
	color: black;
	height: 1em;
	font-family: "Interface";
	font-size: 11pt;
	padding: 0.33em;
	float: left;
}

.tab-active:hover {
  cursor: pointer;
}

.tab-active:active {
  background-color: ghostwhite;
}

#content {
	background-color: white;
	font-family: "Content";
	color: black;
	border-top: 1px solid #D6E6FF;
	padding: 0em;
}

#error {
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  text-align: justify;
  background-color: ghostwhite;
  border-radius: 1em;
}

#error .icon {
  width: 38px;
  padding-right: 5px;
}

#error .title {
  font-family: "Title";
  font-size: 24pt;
}

#error .message {
  font-family: "Interface";
  font-weight: normal;
}

#error button {
  background-color: #D6E6FF;
  box-shadow: 0 0 2px #373737;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: "Interface";
  color: black;
  font-weight: bold;
}

#error button:active {
  box-shadow: none;
}

.loadericon {
  width: 400px;
  position: absolute;
  top: 220px;
  left: 0px;
}

#current {
  padding: 0.3em;
  background-color: ghostwhite;
  border-bottom: 1px solid #ECECEC;
  font-family: "Interface";
  font-size: 10pt;
}

#current .title {
  font-size: 14pt;
  font-family: "Title";
}

#current .icon {
  width: 2.85em;
}

.textdescription {
  background-color: ghostwhite;
  border-radius: 0.1em;
  margin-bottom: 0.5em;
}

.textdescription .text {
  padding: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-family: "Content";
  font-size: 11pt;
  text-align: justify;
}

.textdescription #descriptionmore {
  background-color: #D6E6FF;
  font-family: "Interface";
  font-size: 9pt;
  text-align: center;
  padding: 0.3em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}

.textdescription #descriptionmore:hover {
  cursor: pointer;
}

.sortitem {
  border-top: 1px solid #ECECEC;
  font-family: "Interface";
  font-size: 10pt;
  padding: 0.3em;
}

.sorttext {
  padding-left: 0.3em;
}

.sorttext:hover {
  cursor: pointer;
}

.sortinfo {
  padding: 0.5em;
  padding-left: 1.5em;
  font-family: "Interface";
  font-size: 11pt;
  color: #444444;
  cursor: default;
}

.trackerinfo {
  padding: 0.5em;
  padding-left: 1.5em;
  font-family: "Interface";
  font-size: 10pt;
  color: #444444;
  cursor: default;
}

.trackerinfo a {
  text-decoration: none;
  color: black;
}

.switchcontainer {
  font-size: 10pt;
}

.arrow-down {
	width: 0; 
	height: 0;
	float: left;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid black;
}

.arrow-right {
	width: 0; 
	height: 0;
	float: left;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid black;
}

.tracker {
  border-top: 1px solid #ECECEC;
  padding: 0.3em;
}

.tracker:hover {
  cursor: pointer;
}

.tracker .icon {
  width: 2.3em;
  padding-right: 0.2em;
}

.tracker-top {
  padding: 0.3em;
}

.tracker-top:hover {
  cursor: pointer;
}

.tracker-top .icon {
  width: 2.3em;
  padding-right: 0.2em;
}

.checkcirclesurroundings {
  padding-left: 14px;
  padding-top: 15px;
}

.checkcircle {
  padding: 5px;
  background-color: #049B43;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  box-shadow: 0 0 20px #373737;
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: "Title";
}

.leftofcheckcircle {
  float: right;
  padding-top: 5px;
  font-family: "Content";
  font-size: 15px;
}

.arrow-down-r {
	width: 0; 
	height: 0;
	float: right;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid black;
}

.arrow-right-r {
	width: 0; 
	height: 0;
	float: right;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid black;
}

.onoffswitch {
  position: relative;
  width: 99px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
  float: right;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #373737;
  border-radius: 21px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 29px;
  padding: 0;
  line-height: 29px;
  font-size: 11px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "TRACKING";
  padding-left: 9px;
  background-color: #D6E6FF;
  color: #373737;
}

.onoffswitch-inner:after {
  content: "BLOCKED";
  padding-right: 9px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 10px;
  margin: 9.5px;
  background: #373737;
  border: 2px solid #373737;
  border-radius: 21px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 66px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

.confirmbutton {
  background-color: lightgray;
  font-family: "Interface";
  border-radius: 0.5em;
  border: none;
  padding: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.confirmbutton:active {
  background-color: ghostwhite;
}

#history {
  padding: 0.3em;
  background-color: ghostwhite;
  border-bottom: 1px solid #ECECEC;
  font-family: "Interface";
  font-size: 10pt;
}

#history .title {
  font-size: 14pt;
  font-family: "Title";
}

.history {
  border-bottom: 1px solid #ECECEC;
  font-size: 9pt;
  padding: 0.3em;
  font-family: "Content";
}

.history .title {
  font-size: 11pt;
}

.history .icon {
  width: 3.8em;
  padding-right: 0.2em;
}

.history .arrow {
  font-family: "Interface";
  font-size: 24pt;
  text-align: right;
  float: right;
}

.history:hover {
  cursor: pointer;
}

#overview {
  padding: 0.3em;
  background-color: ghostwhite;
  border-bottom: 1px solid #ECECEC;
  font-family: "Interface";
  font-size: 10pt;
}

#overview .title {
  font-size: 14pt;
  font-family: "Title";
}

.overviewtrackerlist {
  font-size: 11pt;
  font-family: "Interface";
}

.optionsbutton {
  background-color: lightgray;
  font-family: "Interface";
  border-radius: 0.5em;
  border: none;
  padding: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.optionsbutton:active {
  background-color: ghostwhite;
}

#optionssubmit {
  width: 33px;
  font-size: 11pt;
}

#elevenpt {
  font-family: "Content";
  font-size: 11pt;
}

#container {
  padding: 0.3em;
  font-family: "Content";
  text-align: justify;
}

#container .title {
  font-size: 14pt;
  font-weight: bold;
}

#scroller {
  background-color: white;
  padding: 0px;
  padding-bottom: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 442px;
}

#scroller::-webkit-scrollbar {
  width: 0.6em;
}

#scroller::-webkit-scrollbar-track {
  background-color: transparent;
}

#scroller::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgray;
}

.anchor {
  text-decoration: none;
  color: black;
}

.anchor:hover {
  text-decoration: none;
  color: black;
}

.anchor:active {
  text-decoration: none;
  color: black;
}

.anchor:visited {
  text-decoration: none;
  color: black;
}

#footer {
	font-family: "Interface";
	font-size: 9pt;
	color: black;
	border-top: 1px solid #ECECEC;
	background-color: ghostwhite;
	padding: 0.5em;
}

#footer a {
  color: black;
  text-decoration: none;
}

#footer a.visited {
  color:black;
  text-decoration: none;
}

#links-footer {
  float: right;
}

#links-footer .selected {
  color: gray;
}

#links-footer .selected:hover {
  cursor: default;
}

.text-separator {
  color: darkgray;
}

.about-link {
	color: black;
	text-decoration: underline;
}

.about-link:hover {
	cursor: pointer;
}
